name: d100_env
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.12
  - pandas
  - numpy
  - scikit-learn
  - matplotlib
  - seaborn
  - lightgbm
  - pyarrow
  - pip
  - pip:
    - dalex
    - pre-commit
    - kagglehub